<div class="about-title">The Project</div>
<div class="row">
    <div class="col-sm-6">
        <%= image_tag('unnamed.png', :class => 'about-image') %>
    </div>
    <div class="col-sm-6">
        <div class="about-text">Our overall goal is to improve provide adequate information to individuals so that they may be better prepared in the case of a adverse lung health event. Because we pride ourselves on our ability to aid our local community fight for lung health and we believe that we must do our absolute best to provide appropriate tools to combat this.</div>        
    </div>
</div>
<div class="about-title">The Team</div>
<div class="about-text">We are a group of Berkeley students ranging from juniors to seniors that are passionate about creating applications for social good.</div> 
<br>
<div class="row about-row">
    <div class="col-sm-2">
        <%= image_tag('unnamed (1).png', :class => 'about-image-sm') %>
    </div>
    <div class="col-sm-10">
        <div class="about-text">William Tsay is a senior at UC Berkeley majoring in Computer Science. He loves to play ARPGs and listens to a variety of rock and metal.</div>        
    </div>
</div>
<div class="row about-row">
    <div class="col-sm-2">
        <%= image_tag('unnamed (2).png', :class => 'about-image-sm') %>
    </div>
    <div class="col-sm-10">
        <div class="about-text">Xiangjiu Wang, Senior at Berkeley majoring in Computer Science and minor in Chemical Engineering. Xiangjiu loves music, movies and CrossFit. He is a fan of Coldplay, Aerosmith, the Beatles, and Queen.</div>        
    </div>
</div>
<div class="row about-row">
    <div class="col-sm-2">
        <%= image_tag('unnamed (3).png', :class => 'about-image-sm') %>
    </div>
    <div class="col-sm-10">
        <div class="about-text">Weijian Ma, senior CS student focusing on web and mobile development. He likes coding, Dota2 and Overwatch.</div>        
    </div>
</div>
<div class="row about-row">
    <div class="col-sm-2">
        <%= image_tag('unnamed (4).png', :class => 'about-image-sm') %>
    </div>
    <div class="col-sm-10">
        <div class="about-text">Amir Dargulov. I am a current junior at the UC Berkeley, majoring in Computer Science and Mathematics, passionate about social interactions within the artificial universe</div>        
    </div>
</div>
<div class="row about-row">
    <div class="col-sm-2">
        <%= image_tag('unnamed (5).png', :class => 'about-image-sm') %>
    </div>
    <div class="col-sm-10">
        <div class="about-text">Brian Nguyen is a current senior at UC Berkeley, majoring in Cognitive Science and Computer Science with an emphasis on product design and human computer interaction.</div>        
    </div>
</div>
<div class="row about-row">
    <div class="col-sm-2">
        <%= image_tag('unnamed (6).png', :class => 'about-image-sm') %>
    </div>
    <div class="col-sm-10">
        <div class="about-text">Anish Khazane is a fourth year computer science major at UC Berkeley who is passionate about building software for nonprofits, specifically applications that can optimize the way a nonprofit does its work, raise their social media awareness, and provide unique ways for them to track and present their work to the public. </div>        
    </div>
</div>