<div id = "alert">
<h5 style="padding-left: 125px; font-family: 'Open Sans', sans-serif; font-weight: 600; font-size: 14px; color: #575757;"> <%= flash[:notice] %> </h5>
</div>
<div id = "check" style="padding: 10px 15px;; border-bottom-style: solid; border-bottom-width: 0.5px; border-bottom-color: #eee;">
  <div id = "left"><h5 style="padding-left: 10px; font-family: 'Open Sans', sans-serif; font-weight: 600; font-size: 10px; color: #575757;"><%= link_to "Back", city_data_back_path, remote: true %></h5></div>
    <%if session[:client_id] %> 
    <% if Client.find(session[:client_id]).cities.include?(City.find_by(name: @data[0])) %>
      <div id = "right"><h5 style="padding-left: 10px; font-family: 'Open Sans', sans-serif; font-weight: 600; font-size: 10px; color: #575757;"><%= link_to "remove as a favorite city", favorite_city_path(:name => @data[0], :remove => true), remote: true, :id => "remove"%></h5></div>
    <% else %> 
      <div id = "right"><h5 style="padding-left: 10px; font-family: 'Open Sans', sans-serif; font-weight: 600; font-size: 10px; color: #575757;"><%= link_to "add as a favorite city", favorite_city_path(:name => @data[0], :remove => false), remote: true, :id => "include" %></h5></div>
    <% end %>
    <% end %>

<div id="weather-box">
  <%= render 'breathe/weather_box'%>
</div>
<div style="text-align: right; padding: 0 20px;">
  <p style="margin-bottom: 0; font-family: 'Open Sans', sans-serif; font-weight: 400; font-size: 14px; color: #989898;">Good to Unhealthy</p>
  <%= image_tag('scale.png') %>  
</div>

<div style="padding: 10px;" class="panel-group" id="accordion" role="tablist" aria-multiselectable="true">
  <h5 style="padding-left: 10px; font-family: 'Open Sans', sans-serif; font-weight: 600; font-size: 14px; color: #575757;">Allergens</h5>
    <% get_pollen(@data).each do |p| %>
      <% if p["Name"] != "AirQuality" %>
        <div class="row" role="tab" id="heading<%= p["Name"]%>" style="padding: 15px 10px; border-top-style: solid; border-top-width: 0.5px; border-top-color: #eee;"
         data-toggle="collapse" data-parent="#accordion" href="#collapse<%= p["Name"]%>" aria-expanded="false" aria-controls="collapse<%= p["Name"]%>">
          <%= image_tag(get_allergen_image(p["Name"]), :style => "position: absolute; width: 15px; height: 15px; margin-left: 10px; margin-top: 1px;") %>
          <div class="col-lg-8" style="font-family: 'Open Sans', sans-serif; font-weight: 600; font-size: 14px; color: #989898;">
            <div style="padding-left: 15px;"><%= p["Name"]%><span class='glyphicon glyphicon-chevron-down' style="margin-left: 10px; font-size: 10px;"></span></div>
          </div>
          <div class="col-lg-4">
            <div style="float: right; width: 16px; height: 16px; border-radius: 8px; background-color: #<%= get_quality_color(p["Category"]) %>; margin-top: 2px;"></div>
            <div style="float: right; margin-right: 10px; font-family: 'Open Sans', sans-serif; font-weight: 600; font-size: 14px; color: #989898;"><%= p["Category"]%></div>
          </div>
        </div>
        <div id="collapse<%= p["Name"]%>" class="panel-collapse collapse" role="tabpanel" aria-labelledby="heading<%= p["Name"]%>">
          <div class="panel-body" style="padding-top: 0;">
            <h5 style="float: right; margin-top: 0; font-family: 'Open Sans', sans-serif; font-weight: 400; font-size: 12px; color: #989898;"><%= get_pollen_range(p["Name"], p["Category"]) %></h5>
            <% get_pollen_detail(p["Name"]).each do |d| %>
              <h5 style="font-family: 'Open Sans', sans-serif; font-weight: 600; font-size: 14px; color: #989898;">
                <%= d[0] %>
              </h5>
              <p style="font-family: 'Open Sans', sans-serif; font-weight: 400; font-size: 14px; color: #989898;">
                <%= d[1] %>
              </p>
            <% end %>
          </div>
        </div>
      <% end %>
    <% end %>
    
    <h5 style="padding-left: 10px; font-family: 'Open Sans', sans-serif; font-weight: 600; font-size: 14px; color: #575757;">Breathing</h5>
  <!--wind-->
        <div class="row" role="tab" id="headingWind" style="padding: 15px 10px; border-top-style: solid; border-top-width: 0.5px; border-top-color: #eee;"
        data-toggle="collapse" data-parent="#accordion" href="#collapseWind" aria-expanded="false" aria-controls="collapseWind">
          <%= image_tag('wind.png', :style => "position: absolute; width: 15px; height: 15px; margin-left: 10px; margin-top: 1px;") %>
          <div class="col-lg-8" style="font-family: 'Open Sans', sans-serif; font-weight: 600; font-size: 14px; color: #989898;">
            <div style="padding-left: 15px;">Wind<span class='glyphicon glyphicon-chevron-down' style="margin-left: 10px; font-size: 10px;"></span></div>
          </div>
          <div class="col-lg-4">
            <div style="float: right; margin-right: 10px; font-family: 'Open Sans', sans-serif; font-weight: 600; font-size: 14px; color: #989898;"><%= get_wind(@data) %></div>
          </div>
        </div>
        <div id="collapseWind" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingWind">
          <div class="panel-body" style="padding-top: 0;">
            <% get_pollen_detail("Wind").each do |d| %>
              <h5 style="font-family: 'Open Sans', sans-serif; font-weight: 600; font-size: 14px; color: #989898;">
                <%= d[0] %>
              </h5>
              <p style="font-family: 'Open Sans', sans-serif; font-weight: 400; font-size: 14px; color: #989898;">
                <%= d[1] %>
              </p>
            <% end %>
          </div>
        </div>
  <!--wind end--> 
  <!--precip-->
        <div class="row" role="tab" id="headingPrecip" style="padding: 15px 10px; border-top-style: solid; border-top-width: 0.5px; border-top-color: #eee;"
        data-toggle="collapse" data-parent="#accordion" href="#collapsePrecip" aria-expanded="false" aria-controls="collapsePrecip">
          <%= image_tag('precip.png', :style => "position: absolute; width: 15px; height: 15px; margin-left: 10px; margin-top: 1px;") %>
          <div class="col-lg-8" style="font-family: 'Open Sans', sans-serif; font-weight: 600; font-size: 14px; color: #989898;">
            <div style="padding-left: 15px;">Precip<span class='glyphicon glyphicon-chevron-down' style="margin-left: 10px; font-size: 10px;"></span></div>
          </div>
          <div class="col-lg-4">
            <div style="float: right; margin-right: 10px; font-family: 'Open Sans', sans-serif; font-weight: 600; font-size: 14px; color: #989898;"><%= get_precip(@data) %></div>
          </div>
        </div>
        <div id="collapsePrecip" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingPrecip">
          <div class="panel-body" style="padding-top: 0;">
            <% get_pollen_detail("Precip").each do |d| %>
              <h5 style="font-family: 'Open Sans', sans-serif; font-weight: 600; font-size: 14px; color: #989898;">
                <%= d[0] %>
              </h5>
              <p style="font-family: 'Open Sans', sans-serif; font-weight: 400; font-size: 14px; color: #989898;">
                <%= d[1] %>
              </p>
            <% end %>
          </div>
        </div>
  <!--precip end-->
  <h5 style="padding-left: 10px; font-family: 'Open Sans', sans-serif; font-weight: 600; font-size: 14px; color: #575757;">Other Forecasts</h5>
  <% get_other_forecasts(@data).each do |f| %>
        <div class="row" style="padding: 15px 10px; border-top-style: solid; border-top-width: 0.5px; border-top-color: #eee;">
          <div class="col-lg-8" style="font-family: 'Open Sans', sans-serif; font-weight: 600; font-size: 14px; color: #989898;">
            <div style=""><%= f[0] %></div>
          </div>
          <div class="col-lg-4">
            <div style="float: right; width: 16px; height: 16px; border-radius: 8px; background-color: #<%= get_quality_color(f[1]) %>; margin-top: 2px;"></div>
            <div style="float: right; margin-right: 10px; font-family: 'Open Sans', sans-serif; font-weight: 600; font-size: 14px; color: #989898;"><%= f[1] %></div>
          </div>
        </div>    
  <% end %>
  <div class="row" style="text-align: right; padding: 15px 20px; border-top-style: solid; border-top-width: 0.5px; border-top-color: #eee;font-family: 'Open Sans', sans-serif; font-weight: 400; font-size: 12px; color: #989898;">
    Data from AccuWeather
  </div> 
</div>
