<div style="padding: 10px 15px;; border-bottom-style: solid; border-bottom-width: 0.5px; border-bottom-color: #eee;">
  <h5><%= link_to "Back", city_data_back_path, remote: true %></h5>
</div>
<div id="weather-box">
  <%= render 'breathe/weather_box'%>
</div>

<div style="padding: 10px;">
  <h5 style="padding-left: 10px; font-family: 'Open Sans', sans-serif; font-weight: 600; font-size: 14px; color: #575757;">Allergens</h5>
    <% get_pollen(@data).each do |p| %>
      <% if p["Name"] != "AirQuality" %>
        <div class="row" style="padding: 15px 10px; border-top-style: solid; border-top-width: 0.5px; border-top-color: #eee;">
          <div class="col-lg-8" style="font-family: 'Open Sans', sans-serif; font-weight: 600; font-size: 14px; color: #989898;">
            <%= p["Name"]%>
          </div>
          <div class="col-lg-4">
            <div style="float: right; width: 16px; height: 16px; border-radius: 8px; background-color: #<%= get_fox_color(@data) %>; margin-top: 2px;"></div>
            <div style="float: right; margin-right: 10px; font-family: 'Open Sans', sans-serif; font-weight: 600; font-size: 14px; color: #989898;"><%= p["Category"]%></div>
          </div>
        </div>
      <% end %>
    <% end %>
</div>
