<!--<<<<<<< HEAD-->
<!--<div style="padding: 10px; border-bottom-style: solid; border-bottom-width: 0.5px; border-bottom-color: #eee;">-->
<!-- <div id = "navigation_cities" > <h5 style="padding-left: 10px; font-family: 'Open Sans', sans-serif; font-weight: 600; font-size: 14px; color: #575757;"> <%= link_to "Recent Searches", city_data_back_path, remote: true %> | <%=link_to "Favorite Cities", display_favorite_cities_path, remote: true %> </h5> </div>-->

<!--</div>-->


  
<!--=======-->
<% if @text %>
<div style="padding: 10px 15px; border-bottom-style: solid; border-bottom-width: 0.5px; border-bottom-color: #eee; text-align: right;">
  <h5 style="float: left; padding-left: 10px; font-family: 'Open Sans', sans-serif; font-weight: 600; font-size: 14px; color: #575757;"><%= @text %></h5>
  <h5 style="padding-left: 10px; font-family: 'Open Sans', sans-serif; font-weight: 600; font-size: 14px; color: #575757;"><%= link_to "Recent Searches", city_data_back_path, remote: true %> | <%=  link_to "View Favorites", display_favorite_cities_path, remote: true %></h5>
</div>
<% end %>
<div style="padding: 0 10px;"> 
  <% if !@cities.nil? and @cities.length > 0 %>
    <% @cities.each do |c| %>
      <div class="row" style="padding: 15px 10px; border-bottom-style: solid; border-bottom-width: 0.5px; border-bottom-color: #eee;">
        <div class="col-lg-8" style="font-family: 'Open Sans', sans-serif; font-weight: 600; font-size: 14px; color: #989898;">
          
          <%= link_to c["name"].capitalize, cached_city_data_path(name: c["name"]), remote: true %>
        </div>
        <div class="col-lg-4">
          <div style="float: right; width: 16px; height: 16px; border-radius: 8px; background-color: #<%= get_quality_color(c["quality"]) %>; margin-top: 2px;"></div>
          <div style="float: right; margin-right: 10px; font-family: 'Open Sans', sans-serif; font-weight: 600; font-size: 14px; color: #989898;"><%= c["quality"] %></div>
        </div>
      </div>
    <% end %>

  <% end %>
  </div>

  
