<div style="height: 100%;">
  <div class="col-md-8 col-ms-12" style="padding-left: 0; padding-right: 0; z-index: 10; height: 100%;" id="left-col">
    <input id="pac-input" class="controls" type="text" placeholder="Enter a location to learn allergens">
    <div id="map" style="height: 100%; width: 100%;"></div>
    <div id="marker-cta" class = "controls" style="margin-top: -40px !important; margin-left: 440px !important; position: absolute !important;">
      <%= render 'marker_cta' %>
    </div>
  </div>
  <div class="col-md-4 col-ms-12" style="padding-left: 0; padding-right: 0; max-width: 500px;" id="right-col">
    <div style="text-align: right; font-size: 15px; padding: 10px 15px; border-bottom-width: 1px; border-bottom-color: #eee; border-bottom-style: solid;">
          <% if current_client %>
            <strong><%=current_client.name %></strong>!
            <%= link_to 'Sign Out', signout_path, id: "sign_out", class:"signout_link" %>
          <% else %>
            <%= link_to "Sign in with Google+", "/auth/google_oauth2", id: "sign_in" %>
          <% end %>    
    </div>
    <div class="datetime-box" style="padding: 20px; font-size: 20px; font-family: 'Open Sans', sans-serif; height: 65px;">Today is <%= @dt %>
    </div>
    

    
    <div id="fox-box" style="height: 120px;">
      <%= render 'fox_box' %>
    </div>
    <div id="list-box" style="position: absolute; width: 100%;">
      <%= render 'list' %>  
    </div>
    <div id="detail-box" style="margin-left: 500px; background-color: white; position: absolute; width: 100%; overflow-x: hidden; overflow-y: scroll; z-index: 10;">
    </div>
    <div id="detail-box-mask" style="margin-left: 500px; background-color: white; position: absolute; width: 100%; overflow-x: hidden; overflow-y: scroll; z-index: 10;"></div>
    <br>
    <div style="text-align: center; position: absolute; width: 100%; bottom: 10px; z-index: 5;">
      <%= image_tag('bcal.jpg', :style => "width: 160px;") %>
          <div type="button" data-toggle="modal" data-target="#myModal">
            <a>Learn more about this project</a>
          </div>
    <div class = "welcome" > <%= "Today's " + @welcome_message + ":" %> 
      <div id = "spare_alert" > <%= @alert %> </div>
    </div>
    </div>
  
  </div>  
<!-- Button trigger modal -->


<!-- Modal -->
<div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-body" style="padding: 20px;">
        <%= render 'about' %>
      </div>
    </div>
  </div>
</div>
  <%= javascript_include_tag "application", "data-turbolinks-track" => "reload" %>
<!--<script src="//nmp.newsgator.com/NGBuzz/buzz.ashx?buzzId=146282&apiToken=C8A8F8F5025D418F8AACB0A7FB2A799A&trkP=6d55b36b-8f3d-4003-b27d-ab20d60a3e6f%2Ceb799aa0-ab4c-4906-9d8f-19aaa62a99eb&trkM=29FA7D07-CEE9-C94B-3CF2-BA83A24ABFAC" type="text/javascript"></script>-->
</div>

